<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
  rel="stylesheet"
/>
<div class="container-principal">
  <div class="container">
    <div class="logo-video">
      <div class="logo">
        <a href="campaign">
          <img
            class="logo-realup"
            src="assets/images/REAL UP.png"
            alt="Logo RealUp"
          />
        </a>

        <h1>Start your campaign!</h1>
      </div>
      <!-- <div class="videos-muestra">
        <img
          [@brand]="isOpenBrand ? 'open' : 'close'"
          id="imagen"
          class="imagen-brand"
          src="assets/images/brand.png"
          alt="Imagen de apoyo"
          width="35%"
        />
        <img
          [@crowdposting]="isOpenCrowdposting ? 'open' : 'close'"
          class="imagen-crowdposting"
          src="assets/images/crowdposting.png"
          alt="Imagen de apoyo"
          width="35%"
        />
        <img
          [@ugc]="isOpenUGC ? 'open' : 'close'"
          class="imagen-ugc"
          src="assets/images/ugc.png"
          alt="Imagen de apoyo"
          width="35%"
        />
      </div>
    </div>
    <div class="links">
      <h1 style="text-align: right; padding: 20px">
        Select the type of campaign you want to do
      </h1>
      <div class="buttons">
        <img
          [@row-ugc]="isOpenRowUGC ? 'open' : 'close'"
          src="assets/icons/FLECHAS.svg"
          alt="Flechas"
        />
        <div class="button-background">
          <button type="button" (click)="linkUCG()" (mouseover)="toggleUGC()">
            UGC
          </button>
        </div>
      </div>
      <div class="buttons">
        <img
          [@row-crowdposting]="isOpenRowCrowdposting ? 'open' : 'close'"
          src="assets/icons/FLECHAS.svg"
          alt="Flechas"
        />
        <div class="button-background">
          <button
            type="button"
            (click)="linkCrowdposting()"
            (mouseover)="toggleCrowdposting()"
          >
            Crowdposting
          </button>
        </div>
      </div>
      <div class="buttons">
        <img
          [@row-brand]="isOpenRowBrand ? 'open' : 'close'"
          src="assets/icons/FLECHAS.svg"
          alt="Flechas"
        />
        <div class="button-background">
          <button
            (mouseover)="toggleBrand()"
            type="button"
            (click)="linkBrand()"
          >
            Brand Ambassador
          </button>
        </div>
      </div>
    </div> -->

      <!-- New Design -->
      <div class="cards">
        <p-card
          header="Crowdposting"
          subheader="
          Boost Your Brand with Crowdposting
          "
        >
          <ng-template pTemplate="header">
            <img alt="Card" src="assets/images/crowdposting-home.png" />
          </ng-template>
          <p>
            Harness the power of thousands of voices promoting your product
            simultaneously. Imagine over 5,000 nano and micro-influencers
            talking about your brand, creating coordinated social media
            campaigns that generate a ripple effect of engagement and awareness.
          </p>
          <p><strong>Benefits:</strong></p>
          <ul>
            <li>Wide Reach: Engage many loyal followers.</li>
            <li>Cost-Effective: Maximize your budget.</li>
            <li>Tailored Campaigns: Fit your brand audience.</li>
          </ul>

          <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
              <p-button
                (click)="linkCrowdposting()"
                label="Get Quote"
                class="w-full"
                styleClass="w-full"
              />
            </div>
          </ng-template>
        </p-card>
        <!-- 2 -->
        <p-card header="UGC" subheader="Elevate Your Brand with UGC          ">
          <ng-template pTemplate="header">
            <img alt="Card" src="assets/images/ugc-home.png" />
          </ng-template>
          <p>
            Humanize your brand and elevate your social media presence and
            reviews with user-generated content (UGC) created by passionate
            customers and top content creators. This authentic approach boosts
            trust and engagement, enhancing your brand’s reputation.
          </p>
          <p><strong>Benefits:</strong></p>
          <ul>
            <li>Authenticity: Show true customer stories.</li>
            <li>Increased Engagement: Build loyal follower base.</li>
            <li>Brand Loyalty: Strengthen ties with your audience.</li>
          </ul>
          <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
              <p-button
                (click)="linkUCG()"
                label="Get Quote"
                class="w-full"
                styleClass="w-full"
              />
            </div>
          </ng-template>
        </p-card>
        <!-- 3 -->
        <p-card
          header="Brand Ambassador"
          subheader="Position Your Brand with Elite Ambassadors
          "
        >
          <ng-template pTemplate="header">
            <img alt="Card" src="assets/images/brand-home.png" />
          </ng-template>
          <p>
            Through our brand ambassador programs, align your brand with top
            influencers, celebrities, and artists. Our tailored approach will
            amplify your message, drive engagement, and build a loyal following
            by leveraging the influence and reach of these prominent figures.
          </p>
          <p><strong>Benefits:</strong></p>
          <ul>
            <li>Exclusive Access: Link with top influencers.</li>
            <li>Brand Positioning: Lift your brand with ambassadors.</li>
            <li>Aligned Values: Partner with those who align.</li>
          </ul>
          <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
              <p-button
                (click)="linkBrand()"
                label="Get Quote"
                class="w-full"
                styleClass="w-full"
              />
            </div>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</div>
