<!-- Segundo diseño -->
<div class="container">
  <div class="boton-recarga">
    <h1>Checklist Operaciones | {{ campaign.name }}</h1>
    <img class="logo-marca" src="{{ campaign.image_url }}" alt="Logo Marca" />
    <p-button icon="pi pi-home" class="button-recharge" (onClick)="goHome()" />
    <p-inplace #inplace_3>
      <ng-template pTemplate="display">
        <span class="task-daily">
          <strong>Link: </strong>
          <a target="_blank" href="{{ linkTask2 }}">Carpeta General</a>
        </span>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="div-content-daily-input">
          <input
            type="text"
            [(ngModel)]="linkTask2"
            (ngModelChange)="verifyContent()"
            pInputText
            placeholder="Link"
          />
          <p-button
            icon="pi pi-bookmark"
            [rounded]="true"
            (click)="saveContentTask(inplace_3)"
          />
        </div>
      </ng-template>
    </p-inplace>
  </div>
  <p-accordion [multiple]="true" [activeIndex]="[0]">
    <div class="accordion-checkbox">
      <p-accordionTab header="1. Montar propuesta y/o cotización">
        <!-- Comentario -->
        <p-inplace #inplace_2>
          <ng-template pTemplate="display">
            <span class="task-daily"
              ><strong>Comentario: </strong>{{ commentTask2 }}</span
            >
          </ng-template>
          <ng-template pTemplate="content">
            <div class="div-content-daily-input">
              <input
                type="text"
                [(ngModel)]="commentTask2"
                pInputText
                placeholder="Comentario"
              />
              <p-button
                icon="pi pi-bookmark"
                [rounded]="true"
                (click)="saveContentTask(inplace_2)"
              />
            </div>
          </ng-template>
        </p-inplace>

        <!-- Link -->
      </p-accordionTab>

      <!-- Checkbox que depende del contenido del link -->
      <div class="checklist-completed-accordion">
        <p-checkbox
          [(ngModel)]="checked_two"
          [binary]="true"
          inputId="binary"
          (onChange)="onTaskChange()"
          [disabled]="disableTwo"
        />
      </div>
    </div>

    <div class="accordion-checkbox">
      <p-accordionTab header="2. Aprobación de la campaña: PO + Invoice">
        <div class="box-toggle-switch">
          <div class="toggle-swtich">
            <span class="task-daily"><strong>¿Se aprobo?</strong></span>
          </div>
          <p>Si</p>
          <p-inputSwitch
            [(ngModel)]="statusTask4Yes"
            (ngModelChange)="saveContentTask(inplace_6)"
          />
          <p>No</p>

          <p-inputSwitch
            [(ngModel)]="statusTask4"
            (ngModelChange)="saveContentTask(inplace_6)"
            (ngModelChange)="updateStatusCampaignPo()"
          />
        </div>

        <!-- Link -->
        <p-inplace #inplace_6>
          <ng-template pTemplate="display">
            <span class="task-daily"
              ><strong>No Invoice </strong>{{ linkTask4 }}</span
            >
          </ng-template>
          <ng-template pTemplate="content">
            <div class="div-content-daily-input">
              <input
                type="text"
                [(ngModel)]="linkTask4"
                (ngModelChange)="verifyContent()"
                pInputText
                placeholder="Link"
              />
              <p-button
                icon="pi pi-bookmark"
                [rounded]="true"
                (click)="saveContentTask(inplace_6)"
              />
            </div>
          </ng-template>
        </p-inplace>
      </p-accordionTab>
      <div class="checklist-completed-accordion">
        <p-checkbox
          [(ngModel)]="checked_four"
          [binary]="true"
          inputId="binary"
          (onChange)="onTaskChange()"
          [disabled]="disableFour"
        />
      </div>
    </div>

    <div class="accordion-checkbox">
      <p-accordionTab header="3. Envió lineamiento de campaña">
        <p-inplace #inplace_9>
          <ng-template pTemplate="display">
            <span class="task-daily"
              ><strong>Comentario: </strong>{{ commentTask6 }}</span
            >
          </ng-template>
          <ng-template pTemplate="content">
            <div class="div-content-daily-input">
              <input
                type="text"
                [(ngModel)]="commentTask6"
                pInputText
                placeholder="Comentario"
              />
              <p-button
                icon="pi pi-bookmark"
                [rounded]="true"
                (click)="saveContentTask(inplace_9)"
              />
            </div>
          </ng-template>
        </p-inplace>
      </p-accordionTab>
      <div class="checklist-completed-accordion">
        <p-checkbox
          [(ngModel)]="checked_six"
          [binary]="true"
          inputId="binary"
          (onChange)="onTaskChange()"
        />
      </div>
    </div>

    <div class="accordion-checkbox">
      <p-accordionTab header="4. Bitacora">
        <p-inplace #inplace_10>
          <ng-template pTemplate="display">
            <span class="task-daily"
              ><strong>Comentario: </strong>{{ commentTask7 }}</span
            >
          </ng-template>
          <ng-template pTemplate="content">
            <div class="div-content-daily-input">
              <input
                type="text"
                [(ngModel)]="commentTask7"
                pInputText
                placeholder="Comentario"
              />
              <p-button
                icon="pi pi-bookmark"
                [rounded]="true"
                (click)="saveContentTask(inplace_10)"
              />
            </div>
          </ng-template>
        </p-inplace>
        <!-- Link -->
        <p-inplace #inplace_11>
          <ng-template pTemplate="display">
            <span class="task-daily"
              ><strong>Link: </strong
              ><a target="_blank" href="{{ linkTask7 }}">{{
                linkTask7
              }}</a></span
            >
          </ng-template>
          <ng-template pTemplate="content">
            <div class="div-content-daily-input">
              <input
                type="text"
                [(ngModel)]="linkTask7"
                (ngModelChange)="verifyContent()"
                (ngModelChange)="sincronizarLinks(linkTask7)"
                pInputText
                placeholder="Link"
              />
              <p-button
                icon="pi pi-bookmark"
                [rounded]="true"
                (click)="saveContentTask(inplace_11)"
              />
            </div>
          </ng-template>
        </p-inplace>
      </p-accordionTab>
      <div class="checklist-completed-accordion">
        <p-checkbox
          [(ngModel)]="checked_seven"
          [binary]="true"
          inputId="binary"
          (onChange)="onTaskChange()"
          [disabled]="disableSeven"
        />
      </div>
    </div>

    <div class="accordion-checkbox">
      <p-accordionTab
        header="5. ¿Todos los contratos se enviaron por PandaDoc?"
      >
        <p-inplace #inplace_12>
          <ng-template pTemplate="display">
            <span class="task-daily"
              ><strong>Comentario: </strong>{{ commentTask8 }}</span
            >
          </ng-template>
          <ng-template pTemplate="content">
            <div class="div-content-daily-input">
              <input
                type="text"
                [(ngModel)]="commentTask8"
                pInputText
                placeholder="Comentario"
              />
              <p-button
                icon="pi pi-bookmark"
                [rounded]="true"
                (click)="saveContentTask(inplace_12)"
              />
            </div>
          </ng-template>
        </p-inplace>
      </p-accordionTab>
      <div class="checklist-completed-accordion">
        <p-checkbox
          [(ngModel)]="checked_eight"
          [binary]="true"
          inputId="binary"
          (onChange)="onTaskChange()"
        />
      </div>
    </div>

    <div class="accordion-checkbox">
      <p-accordionTab header="6. Cronogramas">
        <p-inplace #inplace_13>
          <ng-template pTemplate="display">
            <span class="task-daily"
              ><strong>Comentario: </strong>{{ commentTask7 }}</span
            >
          </ng-template>
          <ng-template pTemplate="content">
            <div class="div-content-daily-input">
              <input
                type="text"
                [(ngModel)]="commentTask7"
                pInputText
                placeholder="Comentario"
              />
              <p-button
                icon="pi pi-bookmark"
                [rounded]="true"
                (click)="saveContentTask(inplace_13)"
              />
            </div>
          </ng-template>
        </p-inplace>
        <!-- Link -->
        <p-inplace #inplace_14>
          <ng-template pTemplate="display">
            <span class="task-daily"
              ><strong>Link: </strong
              ><a target="_blank" href="{{ linkTask9 }}">{{
                linkTask9
              }}</a></span
            >
          </ng-template>
          <ng-template pTemplate="content">
            <div class="div-content-daily-input">
              <input
                type="text"
                [(ngModel)]="linkTask9"
                (ngModelChange)="verifyContent()"
                (ngModelChange)="sincronizarLinks(linkTask9)"
                pInputText
                placeholder="Link"
              />
              <p-button
                icon="pi pi-bookmark"
                [rounded]="true"
                (click)="saveContentTask(inplace_14)"
              />
            </div>
          </ng-template>
        </p-inplace>
        <!-- <p-button (onClick)="showDialog()" label="Programar acciones" /> -->
      </p-accordionTab>
      <div class="checklist-completed-accordion">
        <p-checkbox
          [(ngModel)]="checked_nine"
          [binary]="true"
          inputId="binary"
          (onChange)="onTaskChange()"
          [disabled]="disableNine"
        />
      </div>
    </div>

    <div class="accordion-checkbox">
      <p-accordionTab header="7. Salidas">
        <p class="title-checklist">
          <Strong>Acciones totales:</Strong> {{ numberOfContents }}
        </p>
        <p class="padding-75rem"><strong>Acciones realizadas</strong></p>
        <p-knob
          class="padding-75rem"
          [(ngModel)]="contentCompleted"
          [min]="0"
          [max]="numberOfContents"
          (ngModelChange)="saveContentTask(inplace_17)"
        />

        <p-inplace #inplace_17>
          <ng-template pTemplate="display">
            <span class="task-daily"
              ><strong>Comentario: </strong>{{ commentTask12 }}</span
            >
          </ng-template>
          <ng-template pTemplate="content">
            <div class="div-content-daily-input">
              <input
                type="text"
                [(ngModel)]="commentTask12"
                pInputText
                placeholder="Comentario"
              />
              <p-button
                icon="pi pi-bookmark"
                [rounded]="true"
                (click)="saveContentTask(inplace_17)"
              />
            </div>
          </ng-template>
        </p-inplace>
      </p-accordionTab>
      <div class="checklist-completed-accordion">
        <p-checkbox
          [(ngModel)]="checked_twelve"
          [binary]="true"
          inputId="binary"
          (onChange)="onTaskChange()"
        />
      </div>
    </div>

    <div class="accordion-checkbox">
      <p-accordionTab header="8. Reporte de campaña ">
        <p-inplace #inplace_21>
          <ng-template pTemplate="display">
            <span class="task-daily"
              ><strong>Comentario: </strong>{{ commentTask16 }}</span
            >
          </ng-template>
          <ng-template pTemplate="content">
            <div class="div-content-daily-input">
              <input
                type="text"
                [(ngModel)]="commentTask16"
                pInputText
                placeholder="Comentario"
              />
              <p-button
                icon="pi pi-bookmark"
                [rounded]="true"
                (click)="saveContentTask(inplace_21)"
              />
            </div>
          </ng-template>
        </p-inplace>
        <!-- Link -->
        <p-inplace #inplace_22>
          <ng-template pTemplate="display">
            <span class="task-daily"
              ><strong>Link: </strong
              ><a target="_blank" href="{{ linkTask16 }}">{{
                linkTask16
              }}</a></span
            >
          </ng-template>
          <ng-template pTemplate="content">
            <div class="div-content-daily-input">
              <input
                type="text"
                [(ngModel)]="linkTask16"
                (ngModelChange)="verifyContent()"
                pInputText
                placeholder="Link"
              />
              <p-button
                icon="pi pi-bookmark"
                [rounded]="true"
                (click)="saveContentTask(inplace_22)"
              />
            </div>
          </ng-template>
        </p-inplace>
      </p-accordionTab>
      <div class="checklist-completed-accordion">
        <p-checkbox
          [(ngModel)]="checked_sixteen"
          [binary]="true"
          inputId="binary"
          (onChange)="onTaskChange()"
          [disabled]="disableSixteen"
        />
      </div>
    </div>

    <div class="accordion-checkbox">
      <p-accordionTab header="9. Llenar Biblioteca consultiva">
        <h3>
          <a
            class="padding-class"
            href="https://docs.google.com/spreadsheets/d/1nVqJPz0SotxO5HDQlf2jzy4Jh608y6TCzclNU5kHAMI/edit?gid=0#gid=0"
            >Biblioteca Consultiva</a
          >
        </h3>

        <p-inplace #inplace_24>
          <ng-template pTemplate="display">
            <span class="task-daily"
              ><strong>Comentario: </strong>{{ commentTask18 }}</span
            >
          </ng-template>
          <ng-template pTemplate="content">
            <div class="div-content-daily-input">
              <input
                type="text"
                [(ngModel)]="commentTask18"
                pInputText
                placeholder="Comentario"
              />
              <p-button
                icon="pi pi-bookmark"
                [rounded]="true"
                (click)="saveContentTask(inplace_24)"
              />
            </div>
          </ng-template>
        </p-inplace>
        <!-- Link -->
        <p-inplace #inplace_25>
          <ng-template pTemplate="display">
            <span class="task-daily"
              ><strong>Link: </strong
              ><a target="_blank" href="{{ linkTask18 }}">{{
                linkTask18
              }}</a></span
            >
          </ng-template>
          <ng-template pTemplate="content">
            <div class="div-content-daily-input">
              <input
                type="text"
                [(ngModel)]="linkTask18"
                (ngModelChange)="verifyContent()"
                pInputText
                placeholder="Link"
              />
              <p-button
                icon="pi pi-bookmark"
                [rounded]="true"
                (click)="saveContentTask(inplace_25)"
              />
            </div>
          </ng-template>
        </p-inplace>
      </p-accordionTab>
      <div class="checklist-completed-accordion">
        <p-checkbox
          [(ngModel)]="checked_eighteen"
          [binary]="true"
          inputId="binary"
          (onChange)="onTaskChange()"
          [disabled]="disableEighteen"
        />
      </div>
    </div>
  </p-accordion>
</div>

<!-- Programar Cronograma Dialog  -->
<p-dialog
  header="Edit Profile"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '70rem', height: '70vh' }"
>
  <div class="flex align-items-center gap-3 mb-3">
    <p><strong>Influencers</strong></p>
    <p-chips [(ngModel)]="values" />
  </div>
  <div class="flex align-items-center gap-3 mb-5">
    <p><strong>Tipo de contenido</strong></p>
    <p-dropdown
      [options]="tipoContenidos"
      [(ngModel)]="ContenidoSeleccionado"
      optionLabel="name"
      placeholder="Seleccione contenido"
    />
  </div>
  <div class="flex align-items-center gap-3 mb-5">
    <p><strong>Fecha de publicación</strong></p>
    <p-calendar
      [(ngModel)]="date"
      [iconDisplay]="'input'"
      [showIcon]="true"
      inputId="icondisplay"
    />
  </div>
  <div class="flex justify-content-end gap-2">
    <p-button
      label="Cancelar"
      severity="secondary"
      (onClick)="visible = false"
    />
    <p-button label="Programar" (onClick)="visible = false" />
  </div>
</p-dialog>

<!-- Dialago Links requeridos -->

<!-- Link numero 1 -->
<!-- <p-dialog
  header="Sube el Link"
  [modal]="true"
  [(visible)]="visibleOneCheck"
  [style]="{ width: '25rem' }"
>
  <div class="flex align-items-center gap-3 mb-3">
    <label for="link" class="font-semibold w-6rem">Link</label>
    <input
      pInputText
      id="link"
      class="flex-auto"
      autocomplete="off"
      [(ngModel)]="linkOne"
    />
  </div>
  <div class="flex align-items-center gap-3 mb-5">
    <label for="comentario" class="font-semibold w-6rem">Comentario</label>
    <textarea
      rows="5"
      cols="30"
      id="comentario"
      pInputTextarea
      [autoResize]="true"
      [(ngModel)]="commentOne"
    ></textarea>
  </div>
  <div class="flex justify-content-end gap-2">
    <p-button
      label="Cancel"
      severity="secondary"
      (onClick)="visibleOneCheck = false"
    />
    <p-button
      label="Save"
      (onClick)="visibleOneCheck = false"
      (onClick)="disableCheckOne()"
    />
  </div>
</p-dialog> -->
