.grid-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  align-content: space-around;
}

::ng-deep .grid-container .p-card {
  width: 20vw;
}

.grid-container img {
  height: 30px;
  width: 30px;
  background-color: #d52a79;
  border-radius: 100px;
}

.div-arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.div-arrow-down {
  grid-area: 2 / 1 / 2 / 5;
  display: flex;
  justify-content: flex-end;
}

.div-arrow-down-second {
  grid-area: 4 / 1 / 4 /5;
}

.div-arrow-down-third {
  grid-area: 6 / 1 / 6 /5;
}

::ng-deep .p-card-content {
  padding: 0;
}

.div-arrow h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.h2-check h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.h2-check {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arrow-down {
  margin: 0 10%;
}

/* Nuevo design */

.container {
  padding: 2rem;
}

.checklist-completed {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: row;
}

.checklist-completed p {
  margin-right: 10px;
}

.accordion-checkbox {
  display: flex;
  flex-direction: row;
}

::ng-deep .accordion-checkbox p-accordionTab {
  width: 93%;
}

.checklist-completed-accordion {
  width: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .p-inplace .p-inplace-display {
  display: block;
}

::ng-deep .accordion-checkbox .p-inputtext {
  width: 97%;
}

.div-content-daily-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-checklist {
  margin: 0;
  padding: 0.75rem;
  font-size: 20px;
}

.padding-75rem {
  margin: 0;
  padding: 0.75rem;
}

.boton-recarga {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.padding-class {
  padding: 0.75rem;
}

.logo-marca {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  object-fit: contain;
  object-position: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
