<div class="container">
  <div class="nav">
    <button class="boton-sum" (click)="showDialog()">
      <img class="icono-op" src="assets/icons/icono-sum.svg" alt="" />
    </button>
    <div class="selector-op">
      <button (click)="showDailySales()">
        <img class="icono-op" src="assets/icons/icono-op.svg" alt="" />
      </button>
      <p>Daily Sales</p>
    </div>
    <div class="selector-op">
      <button (click)="showDailyOps()">
        <img class="icono-op" src="assets/icons/icono-op.svg" alt="" />
      </button>
      <p>Daily OPS</p>
    </div>
    <div class="selector-op">
      <button (click)="showCampaign()">
        <img class="icono-op" src="assets/icons/icono-op.svg" alt="" />
      </button>
      <p>Campañas</p>
    </div>
    <div class="selector-op">
      <button (click)="showWeeklyWorkload()">
        <img class="icono-op" src="assets/icons/icono-op.svg" alt="" />
      </button>
      <p>Cargas Semanales</p>
    </div>
    <div class="selector-op">
      <button (click)="showChatbot()">
        <img class="icono-op" src="assets/icons/icono-op.svg" alt="" />
      </button>
      <p>ChatBot</p>
    </div>
    <div class="selector-op">
      <button (click)="showCotizador()">
        <img class="icono-op" src="assets/icons/icono-op.svg" alt="" />
      </button>
      <p>Cotizador</p>
    </div>
  </div>
  <div class="content" *ngIf="verificarCampaign">
    <div class="card">
      <div class="title-campaign">
        <div class="boton-recarga">
          <h1>Campañas</h1>
          <p-button
            icon="pi pi-refresh"
            class="button-recharge"
            (onClick)="loadCampaigns()"
            (onClick)="chargeData()"
          />
        </div>
        <p-button
          label="Campañas Archivadas"
          severity="secondary"
          (onClick)="openCampaignArchived()"
        />
      </div>

      <div class="graficas-totales">
        <div class="charts">
          <h3>Campañas Activas vs Preparación</h3>
          <canvas baseChart [data]="barChartData" [type]="barChartType">
          </canvas>
        </div>

        <div class="charts">
          <h3>Contenidos Con PR vs Sin PR</h3>
          <canvas baseChart [data]="barChartDataSecond" [type]="barChartType">
          </canvas>
        </div>

        <div class="charts">
          <h3>Budget a cargo</h3>

          <canvas baseChart [data]="pieChartData" [type]="pieChartType">
          </canvas>
        </div>
        <div>
          <h3>Cargas por operaciones</h3>

          <h4>Alejandra</h4>
          <p-progressBar [value]="porcentajeDaniela | number : '1.0-1'" />
          <h4>Estefany</h4>

          <p-progressBar [value]="porcentajeEstefany | number : '1.0-1'" />
          <h4>Luisa</h4>

          <p-progressBar [value]="porcentajeLuisa | number : '1.0-1'" />
        </div>
      </div>
      <div class="container-filter">
        <h2>Filtros</h2>
        <div class="input-filter">
          <p-dropdown
            [options]="operationsFilter"
            [(ngModel)]="filtroOp"
            optionLabel="name"
            placeholder="Nombre OP"
            (ngModelChange)="changeOpFilter()"
          />
          <input
            pInputText
            type="text"
            placeholder="Nombre Campaña"
            [(ngModel)]="filtroNombre"
          />
          <p-calendar
            [iconDisplay]="'input'"
            [showIcon]="true"
            [(ngModel)]="filtroFecha"
            placeholder="Fecha"
          />
          <p-inputNumber
            placeholder="Número de acciones"
            [(ngModel)]="filtroAcciones"
          />

          <p-inputNumber
            placeholder="Número de creadores"
            [(ngModel)]="filtroCreadores"
          />
        </div>
      </div>

      <div class="campaigns">
        <div *ngFor="let typeCampaign of listTypeCampaign" class="campaign">
          <div class="columna">
            <div class="title-icon-campaign">
              <h2>{{ typeCampaign.name }}</h2>
              <img
                class="campaign-status"
                src="{{ typeCampaign.image }}"
                alt=""
              />
            </div>

            <div
              *ngIf="getFilteredCampaignsByType(typeCampaign.value).length > 0"
              class="campaign-father"
            >
              <div
                class="campaign-show"
                *ngFor="
                  let campaign of getFilteredCampaigns(
                    getFilteredCampaignsByType(typeCampaign.value)
                  )
                "
              >
                <button
                  class="button-campaign"
                  type="button"
                  (click)="verChecklist(campaign.id)"
                >
                  <div class="logo-marca">
                    <img
                      src="{{ campaign.image_url }}"
                      alt="Logo de la marca"
                    />
                    <h3>{{ campaign.name }}</h3>
                    <p-button
                      icon="pi pi-pen-to-square"
                      [rounded]="true"
                      severity="secondary"
                      [outlined]="true"
                      (onClick)="showDialogUpdate($event, campaign)"
                    />
                  </div>

                  <div class="data-group">
                    <span class="pi pi-user"></span>
                    <p class="font-bold">Op a Cargo</p>
                    <p></p>
                    <p class="content-subtitle">{{ campaign.name_op }}</p>
                  </div>
                  <div class="data-group">
                    <span class="pi pi-calendar"></span>
                    <p class="font-bold">Fecha final</p>
                    <p></p>
                    <p class="content-subtitle">
                      {{ campaign.final_date | date : "dd/MM/yyyy" }}
                    </p>
                  </div>

                  <div class="data-group">
                    <span class="pi pi-book"></span>
                    <p class="font-bold">Tareas completadas</p>
                    <p></p>
                    <p class="content-subtitle">
                      {{ campaign.task_completed }}/{{ 18 }}
                    </p>
                  </div>

                  <div class="data-group">
                    <span class="pi pi-users"></span>
                    <p class="font-bold">Número de creadores</p>
                    <p></p>
                    <p class="content-subtitle">
                      {{ campaign.number_creators }}
                    </p>
                  </div>

                  <div class="data-group">
                    <span class="pi pi-video"></span>
                    <p class="font-bold">Número de acciones</p>
                    <p></p>
                    <p class="content-subtitle">
                      {{ campaign.number_contents }}
                    </p>
                  </div>

                  <div class="data-group">
                    <p class="no-margin-top font-bold item-2-column">
                      Progreso campaña
                    </p>
                    <p-progressBar
                      class="item-2-column"
                      [value]="
                        (campaign.task_completed / 18) * 100 | number : '1.0-0'
                      "
                    ></p-progressBar>
                  </div>
                  <div class="data-group">
                    <p class="no-margin-top font-bold item-2-column">
                      Numero de acciones realizadas
                    </p>
                    <p-progressBar
                      class="item-2-column"
                      [value]="
                        (campaign.number_contents_done /
                          campaign.number_contents) *
                          100 | number : '1.0-0'
                      "
                    ></p-progressBar>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- NEW CAMPAIGN FORM -->
    <p-dialog header="Nueva Campaña" [modal]="true" [(visible)]="visible">
      <form [formGroup]="campaignForm">
        <span class="p-text-secondary block mb-5"
          >Ingresa los siguientes datos</span
        >
        <div class="flex-row-campaign">
          <div
            class="flex gap-2 mb-3 flex-column-div-campaign width-low-campaign"
          >
            <label class="font-semibold">OP a cargo</label>
            <p-dropdown
              [options]="operations"
              [(ngModel)]="selectedOperation"
              optionLabel="name"
              placeholder="Seleccione OP"
              formControlName="name_op"
            />
          </div>
          <div
            class="flex gap-2 mb-3 ml-3 flex-column-div-campaign width-high-campaign"
          >
            <label for="name" class="font-semibold">Nombre de la campaña</label>
            <input
              pInputText
              id="name"
              class="flex-auto"
              autocomplete="off"
              formControlName="name"
            />
          </div>
        </div>

        <div class="flex gap-2 mb-3 flex-column-div-campaign">
          <label for="name" class="font-semibold">Nombre de la marca</label>
          <p-dropdown
            [options]="allBrands"
            [editable]="true"
            placeholder="Selecciona Marca"
            formControlName="brand"
          />
        </div>
        <div class="flex gap-2 mb-3 flex-column-div-campaign">
          <label for="name" class="font-semibold">Nombre del cliente</label>
          <p-dropdown
            [options]="allClients"
            [editable]="true"
            placeholder="Selecciona Cliente"
            formControlName="client"
          />
        </div>

        <div class="flex gap-2 mb-3 flex-column-div-campaign">
          <label for="name" class="font-semibold"
            >Imagen de la marca (URL)</label
          >
          <input
            pInputText
            id="name"
            class="flex-auto"
            autocomplete="off"
            formControlName="image_url"
          />
        </div>
        <div class="flex gap-2 mb-3 flex-column-div-campaign">
          <label for="name" class="font-semibold">Tipo de campaña</label>
          <p-dropdown
            [options]="campaigns"
            [(ngModel)]="selectedTypeCampaign"
            optionLabel="name"
            placeholder="Tipo de Campaña"
            formControlName="campaign_type"
          />
        </div>
        <div class="flex gap-2 mb-3 flex-column-div-campaign">
          <label for="name" class="font-semibold">País</label>
          <p-dropdown
            [options]="paises"
            [(ngModel)]="selectedPais"
            optionLabel="name"
            placeholder="País"
            formControlName="country"
          />
        </div>
        <div class="flex-row-campaign gap-3">
          <div class="flex gap-2 mb-3 flex-column-div-campaign full-width">
            <label for="budget" class="font-semibold">Presupuesto</label>
            <p-inputNumber
              id="budget"
              autocomplete="off"
              formControlName="budget"
            />
          </div>
          <div class="flex gap-2 mb-3 flex-column-div-campaign full-width">
            <label for="" class="font-semibold">Numero de creadores</label>
            <p-inputNumber
              id="number_creators"
              autocomplete="off"
              formControlName="number_creators"
            />
          </div>

          <div class="flex gap-2 mb-3 flex-column-div-campaign full-width">
            <label for="email" class="font-semibold">Contenidos totales</label>
            <p-inputNumber
              id="total_contents"
              autocomplete="off"
              formControlName="number_contents"
            />
          </div>
        </div>

        <div class="flex-row-campaign gap-3">
          <div class="flex gap-2 mb-3 flex-column-div-campaign full-width">
            <label for="name" class="font-semibold">Fecha Inicial</label>

            <p-calendar
              [(ngModel)]="initialDate"
              formControlName="initial_date"
              autocomplete="off"
              autocomplete="off"
            />
          </div>
          <div class="flex gap-2 mb-3 flex-column-div-campaign full-width">
            <label for="name" class="font-semibold">Fecha final</label>

            <p-calendar
              [(ngModel)]="date"
              formControlName="final_date"
              autocomplete="off"
            />
          </div>

          <div class="flex gap-2 mb-3 flex-column-div-campaign full-width">
            <label for="name" class="font-semibold">¿Hay PR?</label>

            <p-selectButton
              [options]="stateOptions"
              [(ngModel)]="value"
              optionLabel="label"
              optionValue="value"
              formControlName="pr"
              autocomplete="off"
            />
          </div>
        </div>

        <div class="flex justify-content-end gap-2">
          <p-button
            label="Cancelar"
            severity="secondary"
            (onClick)="visible = false"
          />
          <p-button
            label="Crear"
            (onClick)="addCampaign()"
            [disabled]="campaignForm.invalid"
          ></p-button>
        </div>
      </form>
    </p-dialog>

    <!-- Update Dialog Form -->

    <p-dialog
      header="Header"
      [modal]="true"
      [(visible)]="visibleUpdateDialog"
      [style]="{ width: '50rem' }"
    >
      <ng-template pTemplate="header">
        <p-inplace #inplaceUpdateCampaign closable="closable">
          <ng-template pTemplate="display">
            <span class="task-daily">{{ updateNameCampaign }}</span>
          </ng-template>
          <ng-template pTemplate="content">
            <input
              type="text"
              [(ngModel)]="updateNameCampaign"
              pInputText
              placeholder="Tarea"
            />
          </ng-template>
        </p-inplace>
      </ng-template>
      <span class="p-text-secondary block mb-5">Edita tu campaña.</span>
      <div class="flex align-items-center gap-3 mb-3">
        <label for="name" class="font-semibold w-6rem"
          >Imagen de la marca (URL)</label
        >
        <input
          pInputText
          class="flex-auto"
          autocomplete="off"
          [(ngModel)]="updateUrlCampaign"
        />
      </div>
      <div class="flex align-items-center gap-3 mb-3">
        <label for="name" class="font-semibold w-6rem"
          >Nombre de la marca</label
        >
        <p-dropdown
          [options]="allBrands"
          [(ngModel)]="updateBrand"
          [editable]="true"
          placeholder="Selecciona Marca"
        />
      </div>
      <div class="flex align-items-center gap-3 mb-3">
        <label for="name" class="font-semibold w-6rem"
          >Nombre del cliente</label
        >
        <p-dropdown
          [options]="allClients"
          [(ngModel)]="updateClient"
          [editable]="true"
          placeholder="Selecciona Cliente"
        />
      </div>

      <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">Nombre OP</label>
        <p-dropdown
          [options]="operations"
          [(ngModel)]="updateNameOp"
          optionLabel="name"
          placeholder="Selecciona OP a cargo"
        />
      </div>

      <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem"
          >Tipo de campaña</label
        >
        <p-dropdown
          [options]="campaigns"
          [(ngModel)]="updateCampaignType"
          optionLabel="name"
          placeholder="Selecciona tipo campaña"
        />
      </div>

      <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">País</label>
        <p-dropdown
          [options]="paises"
          [(ngModel)]="updateCountry"
          optionLabel="name"
          placeholder="Selecciona el país"
        />
      </div>

      <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">Presupuesto</label>
        <p-inputNumber
          [(ngModel)]="updateBudget"
          id="username"
          class="flex-auto"
          autocomplete="off"
        />
      </div>

      <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem"
          >Numero de creadores</label
        >
        <p-inputNumber
          [(ngModel)]="updateNumberCreators"
          id="username"
          class="flex-auto"
          autocomplete="off"
        />
      </div>

      <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem"
          >Contenidos totales</label
        >
        <p-inputNumber
          [(ngModel)]="updateNumberContents"
          id="username"
          class="flex-auto"
          autocomplete="off"
        />
      </div>

      <div class="flex align-items-center gap-3 mb-5">
        <p><strong>¿Hay PR?</strong></p>
        <p-selectButton
          [options]="stateOptions"
          [(ngModel)]="updatePr"
          optionLabel="label"
          optionValue="value"
        />
      </div>

      <div class="flex align-items-center gap-3 mb-5">
        <p><strong>Fecha final</strong></p>
        <p-calendar [(ngModel)]="updateFinalDate" />
      </div>

      <div class="flex justify-content-end gap-2">
        <p-button
          label="Archivar"
          severity="secondary"
          (onClick)="archivedCampaign()"
        />
        <p-button
          label="Cancelar"
          severity="secondary"
          (onClick)="visibleUpdateDialog = false"
        />
        <p-button
          label="Guardar"
          (onClick)="visible = false"
          (onClick)="updateCampaign()"
        />
      </div>
    </p-dialog>
  </div>

  <!-- ----------------------------------------------- Campaign Archived ----------------------------------------------- -->

  <div class="content" *ngIf="verificarCampaignArchive">
    <div class="card">
      <div class="title-campaign">
        <div class="boton-recarga">
          <h1>Campañas</h1>
          <p-button
            icon="pi pi-refresh"
            class="button-recharge"
            (onClick)="loadCampaigns()"
            (onClick)="chargeData()"
          />
        </div>
        <p-button
          label="Campañas Activas"
          severity="secondary"
          (onClick)="showCampaign()"
        />
      </div>

      <div class="container-filter">
        <h2>Filtros</h2>
        <div class="input-filter">
          <p-dropdown
            [options]="operationsFilter"
            [(ngModel)]="filtroOp"
            (ngModelChange)="changeOpFilter()"
            optionLabel="name"
            placeholder="Nombre OP"
          />
          <input
            pInputText
            type="text"
            placeholder="Nombre Campaña"
            [(ngModel)]="filtroNombre"
          />
          <p-calendar
            [iconDisplay]="'input'"
            [showIcon]="true"
            [(ngModel)]="filtroFecha"
            placeholder="Fecha"
          />
          <!-- <input
          type="date"
          placeholder="Filtrar hasta la fecha"
          [(ngModel)]="filtroFecha"
        /> -->
          <p-inputNumber
            placeholder="Número de acciones"
            [(ngModel)]="filtroAcciones"
          />

          <p-inputNumber
            placeholder="Número de creadores"
            [(ngModel)]="filtroCreadores"
          />
        </div>
      </div>

      <div class="campaigns">
        <div
          *ngFor="let typeCampaign of listTypeCampaignArchived"
          class="campaign-archived"
        >
          <div class="columna">
            <div class="title-icon-campaign">
              <h2>{{ typeCampaign.name }}</h2>
              <img
                class="campaign-status"
                src="{{ typeCampaign.image }}"
                alt=""
              />
            </div>

            <div
              *ngIf="getFilteredCampaignsByType(typeCampaign.value).length > 0"
              class="campaign-father"
            >
              <div
                class="campaign-show"
                *ngFor="
                  let campaign of getFilteredCampaigns(
                    getFilteredCampaignsByType(typeCampaign.value)
                  )
                "
              >
                <button
                  class="button-campaign"
                  type="button"
                  (click)="verChecklist(campaign.id)"
                >
                  <div class="logo-marca">
                    <img
                      src="{{ campaign.image_url }}"
                      alt="Logo de la marca"
                    />
                    <h3>{{ campaign.name }}</h3>
                    <p-button
                      icon="pi pi-pen-to-square"
                      [rounded]="true"
                      severity="secondary"
                      [outlined]="true"
                      (onClick)="showDialogUpdate($event, campaign)"
                    />
                  </div>

                  <div class="data-group">
                    <span class="pi pi-user"></span>
                    <p class="font-bold">Op a Cargo</p>
                    <p></p>
                    <p class="content-subtitle">{{ campaign.name_op }}</p>
                  </div>
                  <div class="data-group">
                    <span class="pi pi-calendar"></span>
                    <p class="font-bold">Fecha final</p>
                    <p></p>
                    <p class="content-subtitle">
                      {{ campaign.final_date | date : "dd/MM/yyyy" }}
                    </p>
                  </div>

                  <div class="data-group">
                    <span class="pi pi-book"></span>
                    <p class="font-bold">Tareas completadas</p>
                    <p></p>
                    <p class="content-subtitle">
                      {{ campaign.task_completed }}/{{ 18 }}
                    </p>
                  </div>

                  <div class="data-group">
                    <span class="pi pi-users"></span>
                    <p class="font-bold">Número de creadores</p>
                    <p></p>
                    <p class="content-subtitle">
                      {{ campaign.number_creators }}
                    </p>
                  </div>

                  <div class="data-group">
                    <span class="pi pi-video"></span>
                    <p class="font-bold">Número de acciones</p>
                    <p></p>
                    <p class="content-subtitle">
                      {{ campaign.number_contents }}
                    </p>
                  </div>

                  <div class="data-group">
                    <p class="no-margin-top font-bold item-2-column">
                      Progreso campaña
                    </p>
                    <p-progressBar
                      class="item-2-column"
                      [value]="
                        (campaign.task_completed / 18) * 100 | number : '1.0-0'
                      "
                    ></p-progressBar>
                  </div>
                  <div class="data-group">
                    <p class="no-margin-top font-bold item-2-column">
                      Numero de acciones realizadas
                    </p>
                    <p-progressBar
                      class="item-2-column"
                      [value]="
                        (campaign.number_contents_done /
                          campaign.number_contents) *
                          100 | number : '1.0-0'
                      "
                    ></p-progressBar>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- NEW CAMPAIGN FORM -->
    <p-dialog header="Nueva Campaña" [modal]="true" [(visible)]="visible">
      <form [formGroup]="campaignForm">
        <span class="p-text-secondary block mb-5">Datos</span>
        <div class="flex align-items-center gap-3 mb-5">
          <p><strong>OP a cargo</strong></p>
          <p-dropdown
            [options]="operations"
            [(ngModel)]="selectedOperation"
            optionLabel="name"
            placeholder="Seleccione OP"
            formControlName="name_op"
          />
        </div>
        <div class="flex align-items-center gap-3 mb-3">
          <label for="name" class="font-semibold w-6rem"
            >Nombre de la campaña</label
          >
          <input
            pInputText
            id="name"
            class="flex-auto"
            autocomplete="off"
            formControlName="name"
          />
        </div>
        <div class="flex align-items-center gap-3 mb-3">
          <label for="name" class="font-semibold w-6rem"
            >Imagen de la marca (URL)</label
          >
          <input
            pInputText
            id="name"
            class="flex-auto"
            autocomplete="off"
            formControlName="image_url"
          />
        </div>
        <div class="flex align-items-center gap-3 mb-5">
          <p><strong>Tipo de campaña</strong></p>
          <p-dropdown
            [options]="campaigns"
            [(ngModel)]="selectedTypeCampaign"
            optionLabel="name"
            placeholder="Tipo de Campaña"
            formControlName="campaign_type"
          />
        </div>
        <div class="flex align-items-center gap-3 mb-5">
          <p><strong>País</strong></p>
          <p-dropdown
            [options]="paises"
            [(ngModel)]="selectedPais"
            optionLabel="name"
            placeholder="País"
            formControlName="country"
          />
        </div>
        <div class="flex align-items-center gap-3 mb-5">
          <label for="budget" class="font-semibold w-6rem">Presupuesto</label>
          <p-inputNumber
            id="budget"
            class="flex-auto"
            autocomplete="off"
            formControlName="budget"
          />
        </div>
        <div class="flex align-items-center gap-3 mb-5">
          <label for="" class="font-semibold w-6rem">Numero de creadores</label>
          <p-inputNumber
            id="number_creators"
            class="flex-auto"
            autocomplete="off"
            formControlName="number_creators"
          />
        </div>

        <div class="flex align-items-center gap-3 mb-5">
          <label for="email" class="font-semibold w-6rem"
            >Contenidos totales</label
          >
          <p-inputNumber
            id="total_contents"
            class="flex-auto"
            autocomplete="off"
            formControlName="number_contents"
          />
        </div>
        <div class="flex align-items-center gap-3 mb-5">
          <p><strong>¿Hay PR?</strong></p>
          <p-selectButton
            [options]="stateOptions"
            [(ngModel)]="value"
            optionLabel="label"
            optionValue="value"
            formControlName="pr"
            autocomplete="off"
          />
        </div>

        <div class="flex align-items-center gap-3 mb-5">
          <p><strong>Fecha Inicial</strong></p>
          <p-calendar
            [(ngModel)]="initialDate"
            formControlName="initial_date"
            autocomplete="off"
            autocomplete="off"
          />
        </div>
        <div class="flex align-items-center gap-3 mb-5">
          <p><strong>Fecha final</strong></p>
          <p-calendar
            [(ngModel)]="date"
            formControlName="final_date"
            autocomplete="off"
          />
        </div>
        <div class="flex justify-content-end gap-2">
          <p-button
            label="Cancelar"
            severity="secondary"
            (onClick)="visible = false"
          />
          <p-button label="Crear" (onClick)="addCampaign()" />
        </div>
      </form>
    </p-dialog>

    <!-- Update Dialog Form -->

    <p-dialog
      header="Header"
      [modal]="true"
      [(visible)]="visibleUpdateDialog"
      [style]="{ width: '50rem' }"
    >
      <ng-template pTemplate="header">
        <p-inplace #inplaceUpdateCampaign closable="closable">
          <ng-template pTemplate="display">
            <span class="task-daily">{{ updateNameCampaign }}</span>
          </ng-template>
          <ng-template pTemplate="content">
            <input
              type="text"
              [(ngModel)]="updateNameCampaign"
              pInputText
              placeholder="Tarea"
            />
          </ng-template>
        </p-inplace>
      </ng-template>
      <span class="p-text-secondary block mb-5">Edita tu campaña.</span>
      <div class="flex align-items-center gap-3 mb-3">
        <label for="name" class="font-semibold w-6rem"
          >Imagen de la marca (URL)</label
        >
        <input
          pInputText
          class="flex-auto"
          autocomplete="off"
          [(ngModel)]="updateUrlCampaign"
        />
      </div>
      <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">Nombre OP</label>
        <p-dropdown
          [options]="operations"
          [(ngModel)]="updateNameOp"
          optionLabel="name"
          placeholder="Selecciona OP a cargo"
        />
      </div>

      <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem"
          >Tipo de campaña</label
        >
        <p-dropdown
          [options]="campaigns"
          [(ngModel)]="updateCampaignType"
          optionLabel="name"
          placeholder="Selecciona tipo campaña"
        />
      </div>

      <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">País</label>
        <p-dropdown
          [options]="paises"
          [(ngModel)]="updateCountry"
          optionLabel="name"
          placeholder="Selecciona el país"
        />
      </div>

      <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem">Presupuesto</label>
        <p-inputNumber
          [(ngModel)]="updateBudget"
          id="username"
          class="flex-auto"
          autocomplete="off"
        />
      </div>

      <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem"
          >Numero de creadores</label
        >
        <p-inputNumber
          [(ngModel)]="updateNumberCreators"
          id="username"
          class="flex-auto"
          autocomplete="off"
        />
      </div>

      <div class="flex align-items-center gap-3 mb-3">
        <label for="username" class="font-semibold w-6rem"
          >Contenidos totales</label
        >
        <p-inputNumber
          [(ngModel)]="updateNumberContents"
          id="username"
          class="flex-auto"
          autocomplete="off"
        />
      </div>

      <div class="flex align-items-center gap-3 mb-5">
        <p><strong>¿Hay PR?</strong></p>
        <p-selectButton
          [options]="stateOptions"
          [(ngModel)]="updatePr"
          optionLabel="label"
          optionValue="value"
        />
      </div>

      <div class="flex align-items-center gap-3 mb-5">
        <p><strong>Fecha final</strong></p>
        <p-calendar [(ngModel)]="updateFinalDate" [showTime]="true" />
      </div>

      <div class="flex justify-content-end gap-2">
        <p-button
          *ngIf="verificarCampaignArchive"
          label="Eliminar"
          severity="secondary"
          (onClick)="visibleUpdateDialog = false"
          (onClick)="deleteCampaign()"
        />
        <p-button
          *ngIf="verificarCampaignArchive"
          label="Desarchivar"
          severity="secondary"
          (onClick)="visibleUpdateDialog = false"
          (onClick)="unarchivedCampaign()"
        />
        <p-button
          *ngIf="!verificarCampaignArchive"
          label="Archivar"
          severity="secondary"
          (onClick)="visibleUpdateDialog = false"
          (onClick)="archivedCampaign()"
        />
        <p-button
          label="Cancelar"
          severity="secondary"
          (onClick)="visibleUpdateDialog = false"
        />
        <p-button
          label="Guardar"
          (onClick)="visible = false"
          (onClick)="updateCampaign()"
        />
      </div>
    </p-dialog>
  </div>
</div>
