<h1>Optimization Messages</h1>
<div>
  <div class="card flex flex-column md:flex-row gap-3">
    <p-inputGroup>
      <p-inputGroupAddon>
        <i class="pi pi-user"></i>
      </p-inputGroupAddon>
      <input
        type="text"
        [(ngModel)]="inputText"
        (input)="separarNombres()"
        placeholder="Nombres"
      />
    </p-inputGroup>
    <p-inputGroup>
      <p-inputGroupAddon>
        <i class="pi pi-shop"></i>
      </p-inputGroupAddon>
      <input type="text" [(ngModel)]="inputBrands" placeholder="Marcas" />
    </p-inputGroup>
    <p-inputGroup>
      <p-inputGroupAddon>
        <i class="pi pi-map"></i>
      </p-inputGroupAddon>
      <input type="text" [(ngModel)]="inputCampaing" placeholder="Ciudades" />
    </p-inputGroup>
  </div>
  <textarea
    class="text-area"
    rows="5"
    cols="30"
    pInputTextarea
    [autoResize]="true"
    [(ngModel)]="inputAditionalText"
    placeholder="Texto adicional"
  ></textarea>
</div>

<div *ngFor="let nombre of nombres" class="div-principal">
  <p-card header="{{ nombre }}">
    <p>
      Hola {{ nombre }}! 🙋🏼‍♀mi nombre es Luisa Clavijo y soy manager de
      campañas para Real Up. Agencia en la que contamos con marcas como
      {{ inputBrands }}. <br />
      <br />Actualmente estamos haciendo una campaña en {{ inputCampaing }} y
      queremos saber si te gustaría participar. <br />
      <br />Te dejo nuestra página web y redes sociales para que puedas saber
      más de nosotros y un video explicando por qué te estamos contactando:
    </p>
    <p>
      <a href="https://www.instagram.com/p/C5bMQjFgvQf/"
        >https://www.instagram.com/p/C5bMQjFgvQf/</a
      >
      <br />
      <a href="https://www.instagram.com/p/C5bMQjFgvQf/"
        >https://www.instagram.com/realup.media/</a
      >
      <br />
      <a href="https://www.instagram.com/p/C5bMQjFgvQf/"
        >https://www.tiktok.com/&#64;realup.media</a
      >
    </p>

    <p>Quedamos atentos y esperamos tu pronta respuesta.</p>
    <p>{{ inputAditionalText }}</p>
  </p-card>
</div>
